<div class="modal-header">
    <h5 class="modal-title">Subir Foto {{ tipo|capitalize }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<form method="POST"
      enctype="multipart/form-data"
      action="{{ url_for('ordenes.subir_adjunto', ot_id=ot.id) }}"
      onsubmit="submitForm(event, this)">

    <div class="modal-body">

        <input type="hidden" name="tipo" value="{{ tipo }}">

        <div class="mb-3">
            <label class="form-label">Seleccione imagen</label>
            <input type="file" name="archivo" accept="image/*" class="form-control" required>
        </div>

        <p class="text-muted small">
            La imagen será comprimida automáticamente a JPEG (máx 1600px).
        </p>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary">Subir imagen</button>
    </div>

</form>
